{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'dash.css' %}">
<link rel="stylesheet" href="{% static 'sideBar.css' %}">
<link rel="stylesheet" href="{% static 'Super/timetable.css' %}">
{% endblock styles %}
{% block page %}
<section class="page">
  {% include 'super_sideBar.html' %}
  <section class="main">
    <table>
      <tbody>
        <tr>
          <th>Day</th>
        </tr>

        <tr>
          <td>Monday</td>
        </tr>
        <tr>
          <td>Tuesday</td>
        </tr>
        <tr>
          <td>Wednesday</td>
        </tr>
        <tr>
          <td>Thursday</td>
        </tr>
        <tr>
          <td>Friday</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <section class="table_nav">
      <button onclick="addColumn()">Add column</button>
      <div onsubmit="event.preventDefault()">
        <input type="time" id="start_time" value="08:00">
        <i class="material-symbols-outlined">arrow_range</i>
        <input type="time" id="end_time" value="10:00">
      </div>
      <button onclick="remColumn()">Remove Column</button>
    </section>
    <hr>
    <!-- <button onclick="saveTable()">Save Table</button> -->
  </section>

  <script>
    const rows = document.querySelectorAll('tr')
    const start_time = document.getElementById('start_time')
    const end_time = document.getElementById('end_time')
    const subjects = document.querySelectorAll('.subject')

    addColumn = () => {
      rows.forEach((row, i) => {
        if (i === 0) {
          var cell = document.createElement('th')
          cell.innerHTML = `${start_time.value} - ${end_time.value}`
          cell.classList.add('subject_header')
        }
        else {
          var cell = document.createElement('td')
          cell.classList.add('subject_cell')
        }
        cell.classList.add('cell')
        row.appendChild(cell)
      })
    }

    remColumn = () => {
      let cells = document.querySelectorAll('.cell')
      if (cells.length > 1) {
        rows.forEach(row => {
          row.children[row.children.length - 1].remove()
          saveTableState(document.querySelectorAll('.subject_cell'))
        })
      }
    }

    saveTableState = (subject_cells) => {
      let table_json = []
      subject_cells.forEach(subject_cell => {
        if (subject_cell.dataset.name) {
          table_json.push(subject_cell.dataset.name)
        } else {
          table_json.push('empty')
        }
      })
      let header_json = []
      const subject_headers = document.querySelectorAll('.subject_header')
      subject_headers.forEach(header => {
        header_json.push(header.innerHTML)
      })
      sessionStorage.setItem('subject_headers', JSON.stringify(header_json))
      sessionStorage.setItem('table_json', JSON.stringify(table_json))
    }


    restoreTableState = () => {
      if (sessionStorage.getItem('subject_headers')) {
        let subject_headers_json = JSON.parse(sessionStorage.getItem('subject_headers'))
        let subject_json = JSON.parse(sessionStorage.getItem('table_json'))

        start_time.value = subject_headers_json[subject_headers_json.length - 1].split('-')[1].replace(' ', '')
        end_time.value = ((parseInt(subject_headers_json[subject_headers_json.length - 1].split('-')[1].replace(' ', '').split(':')[0]) + 2) + ':' + '00')

        for (let i = 0; i < subject_headers_json.length; i++) {
          addColumn()
        }
        let subject_headers = document.querySelectorAll('.subject_header')
        subject_headers_json.forEach((header, hi) => {
          subject_headers[hi].innerHTML = header
        });
        let subject_cells = document.querySelectorAll('.subject_cell')
      }
    }
    restoreTableState()
  </script>
</section>
</body>

</html>