{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'dash.css' %}">
<link rel="stylesheet" href="{% static 'sideBar.css' %}">
<link rel="stylesheet" href="{% static 'Super/super.css' %}">
{% endblock styles %}


{% block page %}
<section class="page">
  {% include 'super_sideBar.html' %}
  <section class="main">
    <header>
      <span><i class="material-symbols-outlined">blur_on</i> Grades</span>
      <input type="text" placeholder="Search" oninput="runGradeSearch(event.target.value.toLowerCase())">
      <button onclick="generatePDF()">Generate PDF</button>
    </header>
    <div class="inst_box">
      <span>Select a grade to continue</span>
    </div>
    <div class="report_box">
      <section class="header">
        <span id="sh" style="font-weight: 600;">Student</span>
        <div class="mark_box_header">
          {% for course in grade.get_courses %}
          <span style="font-weight: 600; border: none;" class="course cell" data-course="{{course.id}}"
            id="course_row">{{course}}</span>
          {% endfor %}
        </div>
        <span id="sh" style="font-weight: 600;">Average</span>
      </section>
      <hr>

      <section class="record_box_holder">
        {% for student in grade.get_students %}
        <div class="record" data-name="{{student}}" data-full_name="{{student.first_name}} {{student.last_name}}">
          <span id="sh">{{student.first_name}} {{student.last_name}}</span>
          <div class="mark_box">
          </div>
          <span id="sh" class="total_box"></span>
          <div class="record_bank" style="display: none;">
            {% for score in student.get_scores %}
            <small data-course="{{score.quiz.topic.course.id}}" data-mark="{{score.mark}}">{{score}}</small>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </section>
    </div>
  </section>
</section>

<style>
  .main {
    padding: 0 !important;
    gap: 0 !important;
    align-items: center;
  }
  .report_box{
    margin-top: 2rem;
  }
</style>

<script>
  const course_rows = document.querySelectorAll('[id="course_row"]')
  const records = document.querySelectorAll('.record')
  const record_banks = document.querySelectorAll('.record_bank')
  const record_mark_box = document.querySelectorAll('.record .mark_box')

  record_mark_box.forEach(mark_box => {
    course_rows.forEach((row, i) => {
      var mark_row = document.createElement('span')
      mark_row.classList.add('mark_row')
      mark_row.classList.add('cell')
      mark_row.innerHTML = `A${i}`
      mark_box.appendChild(mark_row)
    })
  })


  const mark_box_holder = document.querySelectorAll('.mark_box')
  const total_box = document.querySelectorAll('.total_box')

  record_banks.forEach((bank, i) => {
    let mark_box = []
    course_rows.forEach(row => {
      mark_box.push([])
    });
    [...bank.children].forEach(mark => {
      course_rows.forEach((course, i) => {
        if (mark.dataset.course === course.dataset.course) {
          mark_box[i].push(mark.dataset.mark)
        }
      })
    });

    let avg = [];
    [...mark_box_holder[i].children].forEach((el, ii) => {
      var total = 0
      mark_box[ii].forEach(mark => {
        total = total + parseFloat(mark)
      })
      total = total / mark_box[ii].length || 0
      avg.push(total)
      el.innerHTML = `${total.toFixed(2)} %`
    })

    var avg_score = 0
    avg.forEach(el => {
      avg_score = avg_score + el
    })
    total_box[i].parentElement.dataset.avg = (avg_score / avg.length).toFixed(2)
    total_box[i].innerHTML = `${(avg_score / avg.length).toFixed(2)} %`
  })

  records.forEach(box => {
    console.log(box.dataset.avg)
  })
</script>

{% endblock page %}


{% block js %}
<script>
  const grades = document.querySelectorAll('.record')

  runGradeSearch = (val) => {
    grades.forEach(grade => {
      if (!grade.dataset.name.toLowerCase().includes(val) && !grade.dataset.avg.toLowerCase().includes(val)) {
        grade.style.display = 'none'
      } else {
        grade.style.display = 'flex'
      }
    })
  }
</script>



<script>
  const results = []

  var cur_time = new Date()
  console.log(cur_time)

  let courses = ['A', 'B', 'C']

  records.forEach((record) => {
    results.push({student: record.dataset.full_name, avg: record.dataset.avg})
  })

  console.log(results)

  function generatePDF() {
    // Create a new jsPDF instance
    const doc = new jsPDF();
    const headers = [["Student", "Average"]];
    const data = results.map((result) => [result.student, result.avg]);

    doc.setFontSize(12);
    doc.text(`{{user}}  Semester Report`, 10, 10);
    doc.autoTable({
      head: headers,
      body: data,
      startY: 20,
    });

    doc.save("books.pdf");
  }
</script>
{% endblock js %}