{% extends "base.html" %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'course.css' %}">
<title>Document</title>
{% endblock styles %}

{% block page %}
<section class="page">
  <nav>
    <strong>Courses</strong>
    <input type="text" class="course_in">
    <div>
      <p>
        <span>Welcome Back,</span>
        <span style="display: flex;align-items: center;">
          <i class="material-symbols-outlined">self_improvement</i> {{user.username}}
        </span>
      </p>
      <a href="{% url 'logout_page' %}" style="color: salmon; font-weight: 600;" class="material-symbols-outlined">power_settings_new</a>
    </div>
  </nav>
  <section class="course_box">
    {% for course in courses %}
    <a href="{% url 'schemes_page' course.slug %}" class="course" data-name="{{course.subject}}">
      <i class="material-symbols-outlined">school</i>
      <span>{{course}}</span>
      <p></p>
    </a>
    {% endfor %}
  </section>
</section>
{% endblock page %}


{% block js %}
<script>
  const course_in = document.querySelector('.course_in')
  const courses = document.querySelectorAll('.course')

  course_in.oninput = () => {
    courses.forEach(course => {
      if (!course.dataset.name.toLowerCase().includes(course_in.value.toLowerCase())) {
        course.style.display = 'none'
      } else {
        course.style.display = 'flex'
      }
      anime({
        targets: course,
        translateY: [50, 0],
        opacity: [0, 1],
        duration: 500,
        easing: 'spring(1, 80, 10, 0)'
      })
    })
  }

  courses.forEach((el, i) => {
    anime({
      targets: el,
      translateY: [50, 0],
      opacity: [0, 1],
      delay: 100 * i,
      duration: 500,
      easing: 'spring(1, 80, 10, 0)'
    })
  })
</script>
{% endblock js %}