.page {
  display: flex;
  justify-content: flex-end;
}

.main {
  width: 75%;
  background: #e6f5f9;
  background: #f6f4f5;
  min-height: 90vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 5vh 2.5%;
  transition: 0.4s ease;
}

.main.change {
  width: 90%;
}

.main header, .main footer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem 1.5rem;
}

.main nav{
  width: 95%;
  min-height: 30px;
  background: white;
  display: flex;
  padding: 10px 2.5%;
  align-items: center;
  justify-content: space-around;
  gap: 1rem 2rem;
  flex-wrap: wrap;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.main nav div{
  display: flex;
  align-items: center;
}

.main nav div p{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.main nav div p a{
  color: rgb(50, 170, 217);
  display: flex;
  align-items: center;
}

.main nav input{
  width: 200px;
  height: 20px;
  padding: 5px 10px;
  border: 1px solid darkgray;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 40px;
}

.item {
  width: 270px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  background: white;
  color: rgb(40, 55, 55);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}

.item .top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.progress_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  text-align: center;
}

.bar {
  width: 80%;
  height: 20px;
  background: beige;
  background: rgb(240, 240, 240);;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.progress {
  width: 10px;
  height: 100%;
  background: #38c7ff;
  left: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

@media all and (max-width:1300px) {
  .main,
  .main.change {
    width: 95%;
  }
  .main header, .main footer {
    width: 100%;
    justify-content: space-around;
  }
}

@media all and (max-width:400px) {
  .item {
    width: 80%;
  }
}
