@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Commissioner&family=Martel+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');


@font-face {
  font-family: 'DessauProDrei';
  src: url('DessauProDrei.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  scroll-behavior: smooth;
}

.page {
  position: relative;
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}

strong {
  font-family: 'DessauProDrei';
  font-weight: 400;
}

a {
  cursor: pointer;
}

.quiz_prompt_box {
  position: absolute;
  top: 0;
  right: -330px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 300px;
  padding: 10px;
  z-index: 50;
  background: black;
  color: white;
  transition: 0.4s ease;
  border-radius: 0 0 0 10px;
  text-align: center;
}

.quiz_prompt_box.show {
  right: 0;
}

.quiz_prompt_box nav {
  display: flex;
  gap: 1rem;
}

.quiz_prompt_box nav i {
  font-style: normal;
  cursor: pointer;
  width: 40px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  justify-content: center;
  height: 30px;
}