:root {
  --avg_box_bg: black;
}

.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sideBar,
.main {
  transition: 0.4s ease;
}

.sideBar.change {
  width: 3%;
  justify-content: center;
  gap: 30%;
}

.sideBar.change header {
  display: none;
}

.sideBar.change nav a span,
.sideBar.change footer a span {
  display: none;
}

.main.change {
  width: 95%;
}

.sideBar {
  width: 18%;
  padding: 5vh 1%;
  height: 90vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0;
  border-right: 1px solid darkgray;
  z-index: 50;
  background: white;
  left: 0;

}

.sideBar button {
  top: 0;
  right: 0;
  background: #24282e;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 0 0 0 10px;
  position: absolute;
}

.sideBar hr {
  width: 100%;
  border-top: 2px dotted darkgray;
}

.sideBar header,
.sideBar nav,
.sideBar footer {
  display: flex;
  flex-direction: column;
}

.sideBar header,
.sideBar footer {
  width: 100%;
  align-items: center;
}

.sideBar header {
  gap: 1rem;
}

.sideBar header div {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.sideBar header span {
  font-weight: 600;
  font-size: 1.5rem;
}

.sideBar nav,
.sideBar footer {
  gap: 0.5rem;
}

.sideBar nav a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgb(54, 54, 54);
  font-size: 1.1rem;
}

.main {
  width: 70%;
  padding: 10vh 5%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid darkgray;
  overflow-y: auto;
}

.assignment_box {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  border-radius: 10px;
  background: #2a2a46;
  color: skyblue;
  border: 1px solid black;
}

.assignment_box i {
  font-size: 2rem;
}

.assignment_box span {
  font-size: 1.5rem;
}

.progress_chart {
  width: 500px;
  height: 300px;
}

.avg_box {
  width: 230px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--avg_box_bg);
  color: white;
  gap: 1rem;
}

.avg_box span {
  font-size: 2.4rem;
  font-weight: 600;
}

.main_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main_low {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.history_box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.history_box .more_history {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.history_box .box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 150px;
  height: 150px;
  flex-direction: column;
  border-radius: 10px;
}

.history_box .box span {
  font-size: 2rem;
  font-weight: 600;
}

.history_box .box.great {
  background: linear-gradient(135deg, transparent 20px, rgb(13, 220, 116) 0);
}

.history_box .box.pass {
  background: linear-gradient(135deg, transparent 20px, orange 0);
}

.history_box .box.fail {
  background: linear-gradient(135deg, transparent 20px, salmon 0);
}


.history_box div span {
  font-size: 2rem;
}

.main hr {
  width: 100%;
  border-top: 2px dotted darkgray;
}

@media all and (max-width:1300px) {

  .sideBar,
  .sideBar.change {
    z-index: 10;
    width: 230px;
    padding: 5vh 10px;
    gap: revert;
    justify-content: space-between;
    display: flex;
  }

  .sideBar,
  .sideBar.change header {
    display: flex;
  }

  .sideBar {
    left: -250px;
  }

  .sideBar.change {
    left: 0;
  }

  .sideBar.change nav a span,
  .sideBar.change footer a span,
  .sideBar.change header strong {
    display: flex;
  }

  .sideBar button {
    left: 100%;
    width: 40px;
    height: 40px;
    border-radius: 0 0 10px 0;
    background: black;
  }

  .main {
    width: 100%;
  }

  .main.change {
    width: 100%;
  }
}


@media all and (max-width:1140px) {
  .page {
    justify-content: flex-start;
    min-height: auto;
    height: auto;
  }

  .main {
    min-height: auto;
    height: auto;
    padding: 3vh 10%;
    gap: 2rem;
  }

  .main_top,
  .main_low {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
  }
}

@media all and (max-width:700px) {
  .history_box {
    flex-direction: column;
    align-items: center;
  }

  .progress_chart {
    width: 100%;
    height: 200px;
  }

  .main_top div {
    max-width: 100%;
    text-align: center;
  }
}