{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'prompt.css' %}">
<link rel="stylesheet" href="{% static 'Zoom/zoom.css' %}">
{% endblock styles %}

{% block page %}
<section class="page">
  <div class="prompt_box">
    <p>Are you sure you want to delete</p>
    <span class="user_space"></span>
    <nav>
      <button id="yes" style="background: rgb(18, 203, 111);">Yes</button>
      <button id="no" style="background: salmon;">No</button>
    </nav>
  </div>

  <section class="add_form">
    <i class="material-symbols-outlined" onclick="closeForm()">close</i>
    <form method="post">
      {% csrf_token %}
      <input type="text" name="topic" placeholder="Meeting Name" required>
      <input type="date" name="start_date" required>
      <input type="time" name="start_time" required>
      <input type="number" max="60" name="duration" placeholder="Duration" required>
      <input type="text" name="course" id="course_in" value="course_slug" required style="display: none;">
      <button>Create Meeting</button>
    </form>
  </section>

  <style>
    .add_form {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background: rgba(0, 0, 0, 0.267);
    }

    .add_form.change {
      display: flex;
    }

    .add_form i {
      position: absolute;
      top: 10%;
      height: 35px;
      width: 35px;
      background: tomato;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 50%;
      cursor: pointer;
    }

    .add_form form {
      display: flex;
      padding: 15px;
      display: flex;
      background: white;
      flex-direction: column;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      gap: 2rem;
      width: 300px;
      border-radius: 10px;
    }

    .add_form form button {
      height: 30px;
      background-color: #01b4fe;
      font-size: 1.1rem;
      color: white;
      border-radius: 5px;
    }

    .add_form form input {
      font-size: 1.1rem;
      padding: 10px 10px;
      border-bottom: 1px solid darkgray;
    }
  </style>

  <section class="pend_box">
    <style>
      .pend_box {
        width: 100%;
        min-height: 30vh;
        background: salmon;
      }

      .page {
        align-items: flex-start;
        width: 90%;
        gap: 2rem;
        background: whitesmoke;
        flex-direction: column;
        min-height: auto;
        padding: 5vh 5%;
      }
    </style>
  </section>
  {% if messages %}
  {% for message in messages %}
  <span class="m_box">{{message}}</span>
  {% endfor %}
  {% endif %}

  <section class="zoom_box">
    {% for course in courses %}
    <section class="wrapper">
      <section class="banner">{{course}}</section>
      <section class="meeting_box">
        {% for meeting in course.get_meetings %}
        <div class="meeting" data-name="{{meeting}}" data-start_time="{{meeting.start_time}}">
          <span>{{meeting.topic}}</span>
          <a href="{{meeting.join_url}}" target="_blank">Start</a>
          <span>{{meeting.start_time|timeuntil}} left</span>
          <i class="material-symbols-outlined" onclick="deleteMeeting('{{meeting.meeting_id}}',event.target)">delete</i>
        </div>
        {% endfor %}
        <div id="add_meeting" onclick="showForm('{{course.slug}}')">+</div>
      </section>
    </section>
    {% endfor %}


  </section>
</section>
{% endblock page %}


{% block js %}
<script>
  const add_form = document.querySelector('.add_form')

  showForm = (course_slug) => {
    add_form.classList.add('change')
    document.getElementById('course_in').value = course_slug
  }

  closeForm = () => {
    add_form.classList.remove('change')
  }

  const meetings = document.querySelectorAll('.meeting')
  console.log(meetings)
</script>


<script>
  const prompt_box = document.querySelector('.prompt_box')
  prompt_box.style.position = 'fixed'

  deleteMeeting = (meeting_id, obj) => {
    prompt_box.children[1].innerHTML = obj.parentElement.dataset.name
    prompt_box.classList.add('show')
    prompt_box.children[2].onclick = (event) => {
      if (event.target.id === 'no') {
        prompt_box.classList.remove('show')
      } else {
        runAxios('delete_meeting', meeting_id, '{{token}}')
        obj.parentElement.remove()
        prompt_box.classList.remove('show')
      }
    }
  }

  handleData = (data) => {
    console.log(data)
  }
</script>
<!-- <script>
    const zoom_box = document.querySelector('.zoom_box')
    const meeting = document.querySelector('.meeting')

    for (var i = 0; i < 10; i++) {
      zoom_box.appendChild(meeting.cloneNode(true))
    }
  </script> -->
{% endblock js %}