{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'Student/student_dash.css' %}">
{% endblock styles %}

{% block page %}
<section class="page">
  {% include 'student_sideBar.html' %}
  <section class="main">
    <nav>
      <div>
        <i class="material-symbols-outlined">blur_on</i>
        <p>
          <a href="{% url 'student_slides_page'%}">TLM ></a>
          <a href="{% url 'student_slides_page'%}">Courses :</a>
          <a href=""><i class="material-symbols-outlined">numbers</i> {{courses.count}}</a>
        </p>
      </div>
      <input type="text" id="item_in" placeholder="Search Course"
        oninput="runSchemeSearch(event.target.value.toLowerCase())">
    </nav>
    <header data-course_progress="{{course_progress}}">
      {% for course in courses %}
      <a href="{% url 'student_get_slides_schemes_page' course.slug %}" class="item" data-name="{{course.subject}}" data-subject="{{course.subject}}" style="background: #2a2a46; color: white;">
        <p class="top">
          <i class="material-symbols-outlined">school</i>
          <span>{{course.subject}}</span>
        </p>
        {{course.get_schemes.count}}
        <div class="progress_box">
          <div class="bar">
            <div class="progress"></div>
          </div>
        </div>
      </a>
      {% endfor %}
    </header>
  </section>
</section>

{% endblock page %}


{% block js %}
<script>
  let items = document.querySelectorAll('.item')
</script>
<script src="{% static 'Student/student.js' %}"></script>
<script>
  let course_progress = JSON.parse(document.querySelector('.main header').dataset.course_progress)
  const progress = document.querySelectorAll('.progress')

  course_progress.forEach((el, i) => {
    var progress_val = 0
    el.forEach(mini_el => {
      progress_val = progress_val + mini_el
    })
    progress_val = Math.round(progress_val / el.length) || 0
    progress[i].style.width = `${progress_val}%`
  })

</script>
{% endblock js %}